<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LogicLyric.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		<dependentAssembly>
			<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
		</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PacketDotNet" publicKeyToken="451414c7667b2a58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.5.0" newVersion="1.4.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>


  <userSettings>
    <LogicLyric.Properties.Settings>
      <setting name="showNicknameSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="drawBigCircleSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="drawMiddleCircleSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="drawSmallerCircleSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="drawBigSquareSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="drawMiddleSquareSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="drawSmallerSquareSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="greenAvalonSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="purpleAvalonSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="legendaryAvalonSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="blueAvalonSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingT1Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingT2Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingT3Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingT4Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingT5Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingT6Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingT7Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingT8Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingE1Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingE2Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingE3Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingFiberSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingWoodSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingOreSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingRockSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingSizeSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingE0Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="translationWindowXSetting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="translationWindowYSetting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="mobE0Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobE1Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobE2Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobE3Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobE4Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showPlayerHealthSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showPlayerItemsSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="soundOnNewPlayerSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mountedSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="translationItemsXSetting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="translationItemsYSetting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="itemsOpacitySetting" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="showPlayerDistanceSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dungeonE0BindSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dungeonE1BindSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dungeonE2BindSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dungeonE3BindSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dungeonE4BindSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mistE0BindSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mistE1BindSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mistE2BindSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mistE3BindSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mistE4BindSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mistSoloSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mistDuoSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dungeonSoloSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dungeonDuoSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="corruptSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="hellgateSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sizeHarvestingSetting" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="itemsSizeSetting" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="radarColorsSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="spiderSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="weilWeaverSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="fairyDragonSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="griffinSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobT1Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobT2Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobT3Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobT4Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobT5Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobT6Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobT7Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobT8Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobHarvestableSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobSkinnableSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="mobOtherSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="harvestingHideSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showExpSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="userSetting" serializeAs="String">
        <value />
      </setting>
      <setting name="passSetting" serializeAs="String">
        <value />
      </setting>
      <setting name="saveSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="avalonDronesSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="otherBossesSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="devModeSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showPlayersSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showPlayerSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="v4Setting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="showOnTopSetting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="windowScaleSetting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="windowSizeSetting" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="showGuildSetting" serializeAs="String">
        <value>False</value>
      </setting>
    </LogicLyric.Properties.Settings>
  </userSettings>
</configuration>
